/* Position navbar to follow mouse scroll and be z-positioned above all other elements */
.navbar {
    position: fixed !important;
    width: 100vw;
    z-index: 100;
}

#navbar-background{
    background-color: rgb(45, 77, 70);
}

#navbar-title{
    color:rgb(241, 238, 233);
    font-weight: bold;
    padding-right: 50px;
}

.button-text{
    color: rgb(45, 77, 70);
    font-weight: 600;
}

.button-background{
    background: rgb(176, 216, 201) !important;
}