
#navbar-background{
    background-color: rgb(45, 77, 70);
}

#navbar-title{
    color:rgb(241, 238, 233);
    font-weight: bold;
    padding-right: 50px;
}

.button-text{
    color: rgb(241, 238, 233);
    font-weight: 600;
}

.button-background{
    background-color: rgb(176, 216, 201);
    
}