
#navbar-background{
    background-color: rgb(64, 64, 175);
}

#navbar-title{
    color: rgb(211, 211, 211);
    font-weight: bold;
    padding-right: 50px;
}

.button-text{
    color: whitesmoke;
    font-weight: 600;
}

.button-background{
    color: darkslategray;
}