.features {
    margin-top: 11vh;
    margin-right: 3vw;
    margin-bottom: 11vh;
    margin-left: 3vw;
}

#features-header {
    text-align: center;
}

#pictures {
    min-height:150px;
    max-height:230px;
    object-fit: cover;
}

.card-style{
    border: 4px solid white !important;
}

.card-body-style{
    background-color: #284d46;
}

.card-title-div{
    color:#e3c3b2;
    font-weight:bold; 
    font-size:19px;
}
.card-subtitle{
    color:#e3c3b2;
    font-size:12px;
}

.card-text{
    color:white;
}