#pictures {
    width: auto;
    max-width: 250px;
    height: auto;
    max-height: 250px;
}
 
.recipe-card {
    display: flex;
    flex-direction: row;
    width: 225px;
    height: 175px;
}

.card-body {
    width: auto;
}
