.home{
    text-align: center;
    color: #2D4D46;
    
}

.cardStyling{
    background-color: #2D4D46 !important;
    background-clip: border-box;
    border: 4px solid !important;
    border-color: #F1EEE9 !important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: transform 0.5s;
}

.cardStyling:hover {
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
    transform: scale(1.1);
}

.titleText{
    color: #E3C3B2;
    font-weight: bold;
}

.componentBGColor {
    background-color: #E3C3B2 !important;
}

.buttonStyling{
    background-color: #2D4D46 !important;
    background-clip: border-box;
    border: 2px solid !important;
    border-color: #F1EEE9 !important;
}
